
<section class="header">
  <h1>Chat App</h1>
</section>

<table id="messages">

</table>

<form action="">

  <input type="text"
         class="name"
         placeholder="Who are you?" />

  <input id="m"
         class="textbox"
         autocomplete="off"
         placeholder="Message"/>

  <button>Send</button>
  
</form>
